body {
  font-family: Arial, sans-serif;
  background: linear-gradient(90deg, rgb(255, 215, 253) 0%, rgb(255, 156, 215)) 35%, rgb(255, 0, 183)100%;  
  margin: 0;
  padding: 0;
}

.container-enterTask {
  max-width: 600px;
  margin: 50px auto;
  margin-bottom: -30px;
  background-color: #b39bc8;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.container-currentTasks {
  max-width: 600px;
  margin: 50px auto;
  background-color: #b39bc8;
  margin-bottom: -30px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.container-completedTasks{
  max-width: 600px;
  margin: 50px auto;
  background-color: #b39bc8;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

h1 {
  font-size: 40px;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

h2,h3 {
  font-size: 25px;
  color: #94dfff;
}

#taskInput {
  width: 70%;
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}

#addTaskButton {
  padding: 10px 15px;
  background-color:#94dfff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

#addTaskButton:hover {
  background-color: #3fc5ff;
}

.task {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 5px;
}

.task:nth-child(odd) {
  background-color: #94dfff;
}

.task:nth-child(even) {
  background-color: #3fc5ff; 
}

.task-btn {
  flex: 1;
  text-align: left;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #000000;
}

.delete-btn {
  background-color:#ffffff;
  color: rgb(0, 0, 0);
  border: none;
  padding:9px;
  border-radius: 50%;
  cursor: pointer;
  margin-right:5px;
}

.delete-btn:hover {
  background-color: #aa3333;
}
.checkmark-btn {
  background-color: #ffffff;
  color: #3cba54;
  border: none;
  padding: 9px 13px;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 10px;
  margin-left: auto;
}

.checkmark-btn:hover {
  background-color: #449944;
}

.task-content[contenteditable="true"]:focus {
  outline: none;
  border: 1px solid #aacbd4; 
}

.empty-state {
  display:none;
  margin:auto;
  max-width: 25%;
  height: auto;
}